@import 'tailwindcss';

@font-face {
	font-family: 'JetBrains Mono';
	src: url('/fonts/jetbrains-mono/JetBrainsMono[wght].ttf') format('truetype');
	font-weight: 100 900;
	font-display: swap;
}

@theme {
	--color-accent: #ff4867;
	--color-sidebar-icon: #b2b2b2;
	--color-sidebar-label: #b4b4b4;
	--color-sidebar-border: #e4e4e4;
	--color-sidebar-bg: #ffffff;
	--color-sidebar-hover-bg: #f8f8f8;
	--color-sidebar-text: #000000;
	--font-sans: 'JetBrains Mono', monospace;
}
